
		:root{
			 --primary: #B26144;
			 --dark-gray: #808080;
			 --light-gray: #D7D5D5;
			 --white: #fff;
		}
		
		body{
			margin:0;
			padding:0;
			font-family: 'Montserrat', sans-serif;
			background-image: url(../images/dark-orchestra.jpg);
			background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
		}
		p, li{
			margin:0 auto;
			font-size:16px;
		}

		.container{
			width: 100%;
		}

		.background{
			width: 100%;
			
		}

		.page-title{
			padding: 30px 0 0 0;
			margin-left: auto;
			margin-right: auto;
			width:100%;
			text-align: center;
			font-size:24px;
			color:#ffffff;
		}

		audio{
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

		.content{
			overflow: hidden;
			max-width: 1366px;
			margin:0 auto;
			display:flex;
			flex-direction: space-between;
		}

		.player-container{
			width: 50%;
		}

		.player{
			margin:50px auto;
			background-color: var(--light-gray);
			padding:25px;
			color:#333;
			max-width:300px;
			border-radius: 10px;
			padding-bottom: 30px;
		}

		.prev{
			width:90%;
			height: 90%;
		}

		.next{
			width:90%;
			height: 90%;
		}

		#buttons{
			height:50px;
			width:100%;
			margin-top:50px;
			position:relative;
			top:10%;
			left:50%;
			transform:translate(-50%, -50%);
		}

		#play,#next,#prev{
		    width: 50px;
		    height: 50px;
		    border: 0;
		    background-color:var(--primary);
		    border-radius: 50%;
		    outline: none;
		    cursor: pointer;
		    position: absolute;
		    top:50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		}

		#play{
			box-shadow: 3px 4px #999;
		}
		#next{
		    width: 30px;
		    height: 30px;
		    left: 70%;
		    box-shadow: 2px 3px #999;
		}
		#prev{
		    width: 30px;
		    height: 30px;
		    left: 30%;
		    box-shadow: 2px 3px #999;
		}
		#play img,#next img,#prev img{
		    position: absolute;
		    top:50%;
		    left: 50%;
		    transform: translate(-50%,-50%);

		}

		#play:hover, #next:hover, #prev:hover{
			background-color:#8c4d36;
		}

		#play:active, #next:active, #prev:active{
			box-shadow: 0 0 #666;
			transform: translateY(4px;);
		}

		.btn-extra{
			padding: 20px 0 0 0;
			text-align: center;
		}

		#songTitle{
			font-family: 'Open Sans', sans-serif;
			text-align: center;
			font-weight: bold;
			color:var(--primary);
			font-size:24px;
		}

		#currentTime{
			font-family: 'Open Sans', sans-serif;
			font-size:13px;
			padding: 10px 20px 0 20px;
		}

		.btn{
			border:none;
			background-color:var(--primary);	
			padding:5px 10px;
			color:#ffffff;
			cursor: pointer;
			box-shadow: 2px 5px #999;
			border-radius: 3px;
			font-family: 'Open Sans', sans-serif;
			font-size:12px;
			letter-spacing: 2px;
			font-weight: bold;
		}

		.btn:hover{
			background-color:#8c4d36;
		}

		.btn:active{
			box-shadow: 0 0 #666;
			transform: translateY(4px;);
		}

		#fill{
		    height: 5px;
		    background-color:var(--primary);
		    border-radius: 20px;
		}
		#handle{
		    width: 8px;
		    height: 8px;
		    background-color:var(--primary);
		    border-radius: 50%;
		    margin-left: -5px;
		    transform: scale(2);
		}

		#seek-bar{
    width: 80%;
    height: 5px;
    background-color: var(--dark-gray);
    display: flex;
    border-radius: 50px;
    margin-left: 25px;
    cursor: pointer;
}	
#playlist,
#playlist li,
#playlist li a{
	padding: 0;
	margin:0;
	text-align: center;
	list-style-type: none;
	visibility: hidden;
	height:0;
	width:0;
	pointer-events: none;
}

#playlist li a{
	text-decoration:none;
	color:#000000;
}

#playlist .current-song a{
	color:blue;
}


#modal-overlay{
	width: 40%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	position:relative;
	margin-top:30px;
}

#modal-box{
	background-color:#D7D5D5;
	padding: 10px 0 20px 0;
	height: auto;
	border-radius:20px;
	width:100%;
}

#modal-close{
	top: 10px;
	left: 20px;
	position: absolute;
	color:var(--primary);
}

.modal-hide{
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	height:0;
	width:0;
}

#movie-title{
	text-align: center;
	font-weight: bold;
	font-size:clamp(24px, 5vw, 36px);
}

#movie-image{
	margin-left: auto;
	margin-right:auto;
	display: block;
}

#images,
#images li,
#images li img{
	visibility: hidden;
	opacity: 0;
	width:0;
	height:0;
	pointer-events: none;
	padding:0;
	margin:0;
}



/*Player Table*/

.gamer-table{
	margin-top: -10px;
	background: var(--dark-gray);
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px;
	position:relative;
}

.gamer-table-container{
	padding: 20px 40px;
 display:flex;
	justify-content:center;
	align-items: center;
}

.gamer{
	display: inline-block;
}

.gamer-score{
	background-color:var(--primary);
	border-radius: 50%;
	width: 110px;
	height: 110px;
	margin:0 auto;
	position:relative;
	display:inline-block;
}

.gamer{
	padding: 0 10px 0 10px;
	position: relative;
	text-align: center;
}

.gamer-one-col{
	color:#4fabe8;

	
}

.gamer-two-col{
	color:#e85e50;

}

.gamer-three-col{
	color:#00cc98;
}

.fa-users{
	font-size:1.5em;
}

.gamer-bounce{
	animation: bounce 0.3s cubic-bezier(0.15, 0.96, 0.74, 0.97);
	-webkit-animation: bounce 0.3s cubic-bezier(0.15, 0.96, 0.74, 0.97);
	-moz-animation: bounce 0.3s cubic-bezier(0.15, 0.96, 0.74, 0.97);

}

@keyframes bounce{
	0% {transform: translateY(0);}
	10% {transform: translateY(-5px);}
	20% {transform: translateY(-12px);}
	30% {transform: translateY(-19px);}
	40% {transform: translateY(-25px);}
	55% {transform: translateY(-19px);}
	70% {transform: translateY(-12px);}
	80% {transform: translateY(-5px);}
	100% {transform: translateY(0);}
}

.gamer-coin{
	opacity: 0;
}

.coin-reveal{
	animation: coinreveal 0.3s cubic-bezier(0.15, 0.96, 0.74, 0.97);
	-webkit-animation: coinreveal 0.3s cubic-bezier(0.15, 0.96, 0.74, 0.97);
	-moz-animation: coinreveal 0.3s cubic-bezier(0.15, 0.96, 0.74, 0.97);
}

@keyframes coinreveal{
	0% {opacity:0;}
	10% {opacity:0.3;}
	20% {opacity:0.6;}
	30% {opacity:0.8;}
	40% {opacity:1;}
	55% {opacity:0.8;}
	70% {opacity:0.6;}
	90% {opacity:0.3;}
	100% {opacity:0;}
}

.gamer-icon{
	background-color:#D7D5D5;
	width: 45px;
	height: 45px;
	padding: 5px 0 0 0;
	border-radius: 50%;
	text-align: center;
	float: left;
	z-index: 99;
	top:0;
	left: 97px;
	position: absolute;
}

.gamer-icon i{
		position:absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
}

.score{
	padding: 10px 0 10px 0;
	color:#ffffff;
	font-size: clamp(40px, 5vw, 68px);
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

	.score-controls button{
			border:0;
			color:var(--primary) !important;
			padding: 5px 15px;
			background-color: #D7D5D5;
			cursor: pointer;		
			margin-top:6px;
	}


.gamer-heading__container{
		position:absolute;
		top:-24px;
		left:20px;
		background:var(--primary);
		padding:10px 15px;
}

	.gamer-heading{
		text-align: center;
		font-size: clamp(16px, 2vw, 24px);
		line-height:24px;
		padding:0;
		margin:0;
	}


	/*Cover Modal*/

	#cover-overlay{
	position:fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width:100%;
	background-color:rgba(0,0,0,0.5);

}

#cover-box{
	position: fixed;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	background-color: #ffffff;
	padding: 30px;
	margin: 20px 0;
}

#cover-overlay, #cover-box{
	-moz-transition: all 1.5s;
	-webkit-transition: all 1.5;
	transition:all 1.5s;
}

.cover-hide{
	visibility: hidden;
	opacity: 0;
}

.cover-title{
	text-align: center;
	font-size:clamp(30px, 5vw, 60px);
	color:var(--primary);
	font-family: 'Montserrat', sans-serif;
}

.cover-text{
	padding-top: 60px;
	text-align: center;
	line-height: 19px;
	list-style-type: none;

}

.cover-text li{
	line-height: 20px;

}

.cover-text li a{
	color:#333333;
	padding: 20px 0 0 0;
	font-size:32px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;

}

.cover-text li a:hover{
	color:var(--primary);
	text-decoration: underline;
	
}

#cover-exit{
	padding: 20px;
}

/* Media queries */

@media only screen and (min-width: 1400px)  { 
  	.gamer-table{
				margin-top: 40px !important;
			}
}

@media only screen and (max-width:800px){
	.content{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#modal-overlay{
		width:80vw;
	}

	.player{
		margin: 0 auto;
	}

	.player-container{
		width:80vw;
	}

	.page-title{
		padding:0;
	}

	.gamer-table{
		margin-top:40px;
	}

	.gamer-score{
		width:80px;
		height:80px;
	}

	.score-controls{
		 margin:10px 0 0 0;
			color:var(--primary);
			display:flex;
			justify-content:space-between;
			align-items: center;
	}

		.gamer-icon{
		width: 30px;
		height: 26px;
		left: 70px;
	}

		.gamer-icon i{
			font-size:1em;		
		}

		.gamer-table{
			width:80vw;
		}
}


@media only screen and (max-width:480px){
		.gamer-table-container{
		flex-direction: column;
	}

	.gamer{
		margin-top:16px;
	}
}
